<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
    <a class="navbar-brand" href="contact">контакты</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">гланвая</a>
      </li>
      {% if request.user.is_authenticated %}
        <li class="nav-item">
<!--        <a class="nav-link" href="{{item.title}}">добавить новость</a>-->
        <a class="nav-link" href="{% url 'add-news' %}">добавить новость</a>
      </li>
        {% endif %}

    </ul>
          <span class="navbar-text">
              {% if request.user.is_authenticated %}
                добро пожаловать {{user.username}}  <a href="{% url 'logout'%}">выход</a>
              {% else %}
              <a href="{% url 'register'%}">register</a> | <a href="{% url 'login'%}">login</a> |
              {% endIf %}

        </span>

    </div>
</nav>